Source: mintmenu
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9), python, dh-python,
Standards-Version: 3.9.5

Package: mintmenu
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 mint-common,
 python (>= 2.4), python (<< 3),
 python-apt,
 python-configobj,
 python-setproctitle,
 python-xapp,
 python-xlib,
 python-xdg,
 python3-xlib,
 xdg-utils,
 libglib2.0-bin,
 mate-menus,
 gir1.2-matemenu-2.0,
 gir1.2-matepanelapplet-4.0,
 gir1.2-gtk-3.0,
 gir1.2-matedesktop-2.0,
 gir1.2-xapp-1.0
Description: Advanced MATE menu
 One of the most advanced menus under Linux. MintMenu supports filtering,
 favorites, easy-uninstallation, autosession, and many other features.
